/*payment form*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

.container {
  width: 750px;
  height: 500px;
  border: 1px solid;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: space-around;
}

.container h1 {
  text-align: center;
}

.first-row {
  display: flex;
}

.owner {
  width: 100%;
  margin-right: 40px;
}

.input-field {
  border: 1px solid #999;
}

.input-field input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
}

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selection select {
  padding: 10px 20px;
}

a {
  background-color: blueviolet;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  transition: 0.5s;
}

a:hover {
  background-color: dodgerblue;
}

.cards img {
  width: 100px;
}
body {
  top: 50%;
  left: 50%;
}
.thankyou {
  background-color: lightblue;
  padding: 80px;
  text-align: center;
}
.thankyou h1 {
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.thankyou h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.checkoutBtn {
  width: 670px;
  background-color: aqua;
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.checkoutBtn:hover {
  background-color: rgb(163, 28, 197);
  cursor: pointer;
}
/*modal*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

form input {
  width: 500px;
  max-width: 80%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
form button {
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(168, 27, 27);
  color: #fff;
}
form button:hover {
  background-color: #fff;
  color: rgb(3, 3, 3);
  cursor: pointer;
  transition: all 0.4s;
}
